h1 {
	color: darkred;
	font-size: 50px;
	text-align: center;
}
img {
	width: 500px;
}
p 
{font-size: 25px;
}

body{
  background-color:white;
}

#animepara{
  text-align:center;
  font-family:"Corbel";
  font-weight:bold;
  font-size:68px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color:#6d071a;
  transition: text-shadow 0.7s ease-in-out;
}