h1 {
	color: darkred;
	font-size: 50px;
	text-align: center;
}
img {
	width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 20px;
}

p 
{font-size: 25px;
}

body{
  background-color:ffffee;
  width: 800px;
  margin: 0 auto;
}

#animepara{
  text-align:center;
  font-family:"Corbel";
  font-weight:bold;
  font-size:68px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color:#6d071a;
  transition: text-shadow 0.7s ease-in-out;
}

.videos {
  display: flex;
  gap: 20px;
}